<div style="text-align: center;color: darkturquoise;font-size: xx-large;">{{topic}}</div>
<hr style="width: 300px;color: #ff003b;height: 2px;margin: auto;">
<table *ngIf="authService.isAuthenticated" style="margin: auto;width: 1200px;">
    <tr>
        <td style="text-align: center;">
            <ul>
                <li routerLinkActive="active"><a routerLink="home">Home</a></li>
                <li routerLinkActive="active"><a routerLink="courses">Courses</a></li>
                <li routerLinkActive="active"><a routerLink="employee"> Employee</a></li>
                <li routerLinkActive="active"><a routerLink="user"> User</a></li>
                <li routerLinkActive="active"><a routerLink="signup"> Signup</a></li>
                <li routerLinkActive="active"><a routerLink="posts"> Posts</a></li>
                <li routerLinkActive="active"><a routerLink="invoicelist"> InvoiceList</a></li>
                <li routerLinkActive="active"><a routerLink="department"> Department</a></li>
                <li><a (click)="logout()"> Logout</a></li>
            </ul>
        </td>
    </tr>
</table>
<div class="form-control" style="margin: auto;width: 1200px;">
    <router-outlet></router-outlet>
</div>