<table style="width: 1000px;margin: auto;">
    <tr>
        <td>
            <!-- Button trigger modal -->
            <div style="text-align: right;margin-bottom:6px;">
                <button type="button" class="btn btn-primary" (click)="addDepartment()" data-bs-toggle="modal"
                    data-bs-target="#mpDepartment">
                    <i class="fa fa-plus" aria-hidden="true"></i> Add Department
                </button>
            </div>
            <!--List-->
            <div class="container-table100">
                <div class="wrap-table100">
                    <div class="table100 ver1 m-b-110">
                        <div class="table100-head">
                            <table>
                                <thead>
                                    <tr class="row100 head">
                                        <th class="cell100 column1">#</th>
                                        <th class="cell100 column2">Name</th>
                                        <th class="cell100 column3">Description</th>
                                        <th class="cell100 column4">Action</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="table100-body js-pscroll">
                            <table>
                                <tbody>
                                    <tr class="row100 body"
                                        *ngFor="let department of lstDepartment | paginate: { itemsPerPage: 5, currentPage: p };index as a">
                                        <td class="cell100 column1">
                                            {{a + 1}}
                                        </td>
                                        <td class="cell100 column2">
                                            {{department.name}}
                                        </td>
                                        <td class="cell100 column3">
                                            {{department.description}}
                                        </td>
                                        <td class="cell100 column4">
                                            <button class="btn btn-info"><a
                                                    [routerLink]="['/department',department.id]"><i class="fa fa-eye"
                                                        aria-hidden="true"></i></a></button>&nbsp;
                                            <button class="btn btn-success" data-bs-toggle="modal"
                                                data-bs-target="#mpDepartment" (click)="editDepartment(department)"><i
                                                    class="fa fa-pencil-square-o" aria-hidden="true"></i></button>&nbsp;
                                            <button class="btn btn-danger" (click)="deleteDepartment(department.id)"><i
                                                    class="fa fa-trash-o" aria-hidden="true"></i></button>
                                        </td>
                                    </tr>
                                    <tr class="row100 body">
                                        <td colspan="4" class="cell100 column1">
                                            <pagination-controls (pageChange)="p = $event" autoHide="true"
                                                responsive="true"></pagination-controls>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Modal -->
            <div class="modal fade" id="mpDepartment" tabindex="-1" aria-labelledby="departmentModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">

                    <div class="modal-content">
                        <form [formGroup]="deptForm" (ngSubmit)="saveDepartment()">
                            <div class="modal-header">
                                <h5 class="modal-title" *ngIf="!formData.id" id="departmentModalLabel">
                                    Add Department
                                </h5>
                                <h5 class="modal-title" *ngIf="formData.id" id="departmentModalLabel">Edit
                                    Department
                                </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div *ngIf="name.touched&&name.invalid&&name.errors.required"
                                    class="alert alert-warning" role="alert">
                                    Please enter name
                                </div>
                                <div *ngIf="name.touched&&name.invalid&&name.errors.minlength"
                                    class="alert alert-warning" role="alert">
                                    Please enter minimum 5 chars
                                </div>
                                <!-- <div *ngIf="name.touched&&name.invalid&&name.errors.maxlength"
                                    class="alert alert-warning" role="alert">
                                    Name shouldn't exceed more than 50 chars
                                </div> -->
                                <!-- <div *ngIf="description.touched&&name.invalid&&description.errors.maxlength"
                                    class="alert alert-warning" role="alert">
                                    Description shouldn't exceed more than 200 chars
                                </div> -->
                                <div class="mb-3" style="text-align: left;">
                                    <label class="form-label" for="txtName">
                                        Name
                                    </label>
                                    <input [(ngModel)]="formData.name" formControlName="name" class="form-control"
                                        type="text" placeholder="Enter name" id="txtName">
                                </div>
                                <div class="mb-3" style="text-align: left;">
                                    <label class="form-label" for="txtDescription">
                                        Description
                                    </label>
                                    <textarea [(ngModel)]="formData.description" formControlName="description"
                                        class="form-control" placeholder="Enter description"
                                        id="txtDescription"></textarea>
                                </div>
                            </div>
                            <div class="modal-footer" style="display: block !important;">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" [disabled]="deptForm.invalid"
                                    class="btn btn-primary">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>